@import "styles/variaveis.scss";

div.materiais-por-tipo-escola {
  div.acordiao {
    font-size: 14px;
    border: 1px solid $grayDisabled;
    border-left: 6px solid $blue;
    box-shadow: 0px 1px 4px rgba(8, 35, 48, 0.1);
    border-radius: 4px;
    padding: 1em;
    margin-top: 2em;
    div.valor-total {
      font-weight: bold;
      span {
        font-weight: normal;
        &.qtd-total {
          font-weight: bold;
          color: $green;
        }
      }
      span i {
        cursor: pointer;
      }
    }
  }
  div.parte-expandida {
    font-size: 14px;
    border: 1px solid $grayDisabled;
    border-top: none;
    padding: 1em;
    div.title {
      font-weight: bold;
      color: $blackInput;
      margin-top: 1em;
      hr {
        border-top: 1px solid $blackInput;
      }
    }
    div.material {
      &.disabled {
        color: $grayDisabled;
      }
      label {
        display: inline-flex;
        input {
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
    div.subtitle {
      font-size: 11px;
      font-weight: bold;
    }
  }
}
