@import "styles/variaveis.scss";

.busca-mapa {
  background: url("../../assets/img/mapa-uniformes.png");
  height: 487px;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  color: #5c6f78;
  div.title {
    @media screen and (max-width: 767px) {
      padding-top: 1em;
    }
    padding-top: 4em;
    font-weight: bold;
    font-size: 30px;
  }
  div.subtitle {
    font-size: 16px;
    padding-top: 1em;
  }
}
form {
  text-align: left;
  label.multiselect {
    color: $blue;
    font-size: 11.5px;
  }
  .dropdown-heading,
  .select-panel {
    font-size: 14px;
    font-weight: normal;
  }
}
h2 {
  font-size: 35px;
  font-weight: bold !important;
  line-height: 40px;

  &.cor-azul {
    color: $blue;
  }
}

div.btn-consultar {
  margin-top: 30px;
  button {
    border-radius: 30px;
    background-color: $blue;
    color: white;
    &:hover {
      background-color: $blue;
    }
  }
}

.perguntas-frequentes {
  background: #dedede;
  .container {
    padding: 4em 0;
  }
  h3 {
    font-weight: bold;
    color: $blackInput;
  }
  .btn {
    margin-top: 0;
    border: 1px solid #fff;
    font-size: 18px;
    &:hover {
      background-color: #ffffff;
      color: $blue;
    }
  }
}

.fs-16 {
  font-size: 16px !important;
}

.home-familia {
  @media screen and (max-width: 371px) {
    margin-top: 15em;
  }
  @media screen and (min-width: 372px) and (max-width: 767px) {
    margin-top: 10em;
  }
}

@media screen and (max-width: 991px) {
  .embed-responsive {
    margin-top: 2em;
  }
  .agora-cada-bloco {
    margin-top: 2em;
  }
}
